@import "card";

.bg-header{
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://res.cloudinary.com/dloadb2bx/image/upload/c_scale,w_1600/v1622688575/CASA_FRENTE_MAR_2027_ksl0su.jpg");
  height: 90vh;
  background-size: 100% 100%;
  color: #fff;


  .banner-title{
    margin-top: 230px;
  }

  .banner-subtitle{
    font-weight: lighter;
  }

  .search-bg{
    margin-top: 10px;
    background-color: #3b14a7;
    width: 100%;
    padding: 20px;
  }

  .input-search{
    width: 85%;
  }

  .btn-search{
    text-align: center;
    padding: 5px 35px;
    margin-left: 10px;
    border: 1px solid #fff;
    color: #fff;
  }

  .btn-search:hover{
    color: #fff;
    opacity: 0.9;
  }
  .btn-custom-login:hover{
    background-color:  #3b14a7;
  }
}

.navbar-nav{
    margin-left: auto;
  }

