@import "new";

.container-rentals{
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-top: 250px;
}

.form-custom{
  background-color: #3b14a7;
  padding: 20px;
}

 .btn-search{
    text-align: center;
    padding: 5px 35px;
    margin-left: 10px;
    border: 1px solid #fff;
    color: #fff;
  }

.btn-search-rentals{
    text-align: center;
    padding: 5px 35px !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}
.btn-search-rentals:hover{
  opacity: 0.9;
}

.rental-details-flex{
  display: flex;
  justify-content: space-between;
}

.btn-see-detail{
  background-color: #3b14a7;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.btn-see-detail:hover{
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

.img-index-rentals{
  width: 100%;
}
.buy-houses{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://res.cloudinary.com/dloadb2bx/image/upload/v1622689964/photo-1596139686395-d3d929e4be2f_uauwlh.jpg");
  height: 350px;
  background-size: 100% 100%;
}


.buy-title{
  font-weight: bold;
  padding: 20px;
  font-size: 22px;
  color: #fff;

}
