<div class="form-custom">
  <h3 class="text-center text-white mb-3">O que buscar?</h3>
  <select class="form-select mt-3 mb-3" aria-label="Default select example">
    <option selected>Qual bairro?</option>
    <option value="1">Centro</option>
    <option value="2">Barro Preto</option>
  </select>
  <select class="form-select mt-3 mb-3" aria-label="Default select example">
    <option selected>Quantos banheiros?</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="2">3</option>
  </select>
  <select class="form-select mt-3 mb-3" aria-label="Default select example">
    <option selected>Quantos quartos?</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="2">3</option>
  </select>


  <label for="customRange1" class="form-label text-white">Valor do aluguel</label>
  <input type="range" class="form-range" id="customRange1">

  <span class="btn btn-search-rentals w-100">Buscar</span>
</div>

