<div class="bg-header">
  <%= render './pages/navbar' %>
    <div class="container">
      <div class="new-form-container">
          <%= render 'form', rental: @rental %>
      </div>
    </div>

  <%= render './pages/footer' %>
</div>

