<div class="bg-header">

<%= render './pages/navbar' %>

<div class="container mt-5">
  <div class="container-rentals">
    <div class="row">
      <div class="col-lg-3">
        <%= render 'sidebar' %>
      </div>
      <div class="col-lg-9">
        <%= render 'content' %>
    </div>
  </div>

</div>
</div>
