<div
  class="show-header"
  style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(<%= @rental.main_photo %>);">


  <div class="navbar-custom">
    <%= render 'pages/navbar' %>
  </div>
</div>

<div class="container">

</div>
