<footer>
  <div class="footer-content">
    <p class="footer-text mt-3">Desenvolvido por: Thiago H. R. Costa - 2021 - Confira meu <a href="https://github.com/thiagohrcosta" target="_blank"><i class="fab fa-github"></i></a> </p>
  </div>
</footer>
