
.show-header{
  height: 90vh;
  background-size: 100% 100%;
  color: #fff;
}

.show-content{
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  margin-top: -100px;
  padding: 20px;
}

.address-show{
  font-weight: lighter;
}
