.devise-container{
  margin-top: 80px !important;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.img-login{
  border-radius: 10px 0 0 10px;
  width: 120%;
}

.right-login-container{
  padding: 10px;
  background-color: #d1d9d9;
  color: #000;
}

.label-login{
  width: 100%;
}
